<!-- The Modal -->
<div id="myModal" #myModal class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="card card--remove">
            <div class="card__body card__body--remove">{{message}}</div>
            <div class="card__footer  card__footer--remove">
                <button type="button" class="btn btn--w50 btn--right btn--default"
                    (click)="deleteItself()">Cancelar</button>
                <button type="submit" class="btn btn--w50" (click)="confirm()">Confirmar</button>
            </div>
        </div>
    </div>

</div>